@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="SubmitJoinig">
    <h1>Want to join the largest network of artists in the world?</h1>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
