
@model IEnumerable<BookingArtistMvcCore.ViewModels.Post>


@{
}


 
<div class="container " style="box-shadow: -2px 3px 20px -1px #817f7f;">
    <div class="">

    @*@foreach (var item in Model)
    {
        <div>

        </div>
    }*@
    @*@Html.Partial("_Post.cshtml", new TestLoginWithFacebook.Data.ModelsData.Post())*@
    <partial name="_Post" />
    <partial name="_Post" />
    <partial name="_Post" />

    </div>

</div>